/* normalize styles */
*{
    margin:0;
    padding:0;
    font-size: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    list-style: none;
    outline: none;
    text-decoration: none;
    color: #ffffff;
}

body{
    height: 100vh;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    background-color: #a04343;
}
/* normalize styles */

.App{
    width: 100%;
    height: 100%;
}

.container{
    width: 130rem;
    height: 100%;
    margin: auto;
    display: inline-flex;
    flex-direction: row;
}

/* left side styles */
.leftSide{
    width: 33rem;
    height: 100%;
    background-color: #662323;
    display: inline-flex;
    flex-direction: column;
}

/* leftside images styles */
.leftSide--image{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.leftSide--image__container{
    position: relative;
    width: 25rem;
    margin: 4rem 0 3rem 0;
    padding-top: 5.9rem;
}
.leftSide--image__container img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
/* leftside images styles end */

/* leftSide list styles */
.leftSide--lists{
    margin-left: 4rem;
}

.leftSide--lists h3{
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.leftSide--lists ul li{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1;
    margin-bottom: 0.9rem;
}
/* leftSide list styles end */
/* left side styles end*/

/* results styles */
.results{
    width: 97rem;
    display: inline-flex;
    height: 100%;
    background-color: #ffffff;
}
/* results styles end */